h1{
    color: #181d3c;
    margin-top: 50px;
}
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-weight: bolder;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #181d3c;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #90a491;
    color:black;
}